/* Add these CSS styles to your component's stylesheet or a separate CSS file */

.game-container {
    display: flex;
    flex-direction: column;
  }
  
  .chessboard {
    display: grid;
    grid-template-columns: repeat(8, 50px); /* Adjust the size as needed */
    grid-template-rows: repeat(8, 50px); /* Adjust the size as needed */
    gap: 2px;
    height: 168px;
    width: 414px;
    border: 2px solid #000; /* Optional border for the chessboard */
  }
  
  .chessboard-square {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    cursor: pointer;
  }
  
  .light-square {
    background-color: #f0d9b5; /* Light square color */
  }
  
  .dark-square {
    background-color: #b58863; /* Dark square color */
  }
  
  .knight {
    color: #fff; /* Knight color */
    background-color: #007BFF; /* Knight background color */
  }

  .selected-position {
    color: #fff; /* Knight color */
    background-color: green; /* Knight selected background color */
  }

  .user-moves {
    display: flex;
    flex-direction: row;
  }

  .user-move {
    padding-right: 5px;
  }

  .verify-moves-button {
    padding: 10px 20px;
    background-color: #007BFF; /* Button background color */
    color: #fff; /* Button text color */
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth hover effect */
  }
  
  .verify-moves-button:hover {
    background-color: #0056b3; /* Button background color on hover */
  }

  .result-lost{
    color: red;
  }
  .result-won {
    color: green;
  }
  